/*custom css style aside from BOOTSTRAP */

/*loader icon */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.util-pie {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 30%;
	z-index: 9999;
}
.navbar-text > a{
	color: inherit;
	text-decoration: none;
}
.navbar {
    border-width: 0;
}
body{
	/*padding-top: 70px;*/
	padding-top: 3.5em;

}
p{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
}

.navbar-default{
	background: #2C3E50;
	border-color: #FFF;
	/*color: #FFFFFF;*/
}
/*logo style*/
.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: #18BC9C;
	background: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

/*style focus button ,*/
.navbar-default .navbar-nav > .active >a,
.navbar-default .navbar-nav > .active >a:hover,
.navbar-default .navbar-nav > .active >a:focus {
	color : #fff;
	background: #1A242F;
}

.navbar-default .navbar-nav > li a:hover,
.navbar-default .navbar-nav > li a:focus{
	color: #18BC9C;
	background: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	background: #1A242F;
	color: #fff;
}


.btn-primary{
    background: #2C3E50;
	border-color: #2C3E50;
	color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle .btn-primary{
	color: #fff;
	background: #1E2A36;
	border-color: #161F29;
}

.navbar-default .navbar-nav
.open .dropdown-menu > li > a{
	color: #fff;
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
  border-style: none
} /* remove the tiny line from the dropdown menu*/

.btn-success{
	background: #18BC9C;
	border-color: #18BC9C;
	color: #fff;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle .btn-success{
	color: #FFF;
	background: #13987E;
	border-color: #13987E;
}


.btn-default{
	background: #95A5A6;
	border-color: #95A5A6;
	color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle .btn-default{
	color: #FFF;
	background: #7F9293;
	border-color: #74898A;
}


.dropdown-menu{
		background: #2C3E50;
		border-width: 0;
}
.dropdown-header{
	color : #ECF0F1;
	font-style: italic;

}
.dropdown-menu >li > a{
		color: #fff;
}

.fa-anchor{
	position: relative;
	bottom: 0.25em;
}
.logo-effect{
	font-family: 'Pacifico', cursive;
	position: relative;
	bottom: 0.50em;
	left: 0.70em;
	font-size: 1.2em;
}

/* header */
.jumbotron{
	height: 38em;
	background-image: url("../img/backgrounds/banner1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-style: none;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
        -ms-border-radius: 0 !important;
         -o-border-radius: 0 !important;
}
.jumbotron > h1,
.jumbotron > p{
	color: #fff;
	margin-top: 1.7em;
}

/*
	hover on dropdown menu
*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color : #18BC9C;
}


/*footer*/
.bottom-footer{
		display: block;
		margin-bottom: 0;
		border-style: none;

}
.section-row{
	padding-bottom: 15em;
	padding-top: 15em;

}
.section-one{
	background-color: #3498db;

}
.section-two{
	background-color: #f1c40f;
}
.section-three{
	background-color: #bdc3c7;
}
.footer-style {
	-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
					border-radius: 0 !important;
			-ms-border-radius: 0 !important;
			-o-border-radius:  0 !important;
}
.section-empty1{
	height: 25em;
	background-image: url(../img/meteor.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
.section-empty2{
    height: 25em;
    background-image:  url(../img/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.pull-left > a{
    display: block;
    margin: 1.3em;
    color: #fff;
}
.pull-left > a:hover,
.pull- left> a:focus {
    color: #18BC9C;
}

.footer-title {
    font-size: 1.4em;

}
.pull-left a > i {
    margin-right: 0.3em;
}


.copy{
    display: block;
    color: #fff;
    margin: 1.4em;
}
.pull-right >p {
    font-size: 10px;
    color: #fff;
    margin-left: 20px;
}
/*big white space correction*/
.header-style{
	height: 38em;
}


.container-header {
        position: relative;
        top: 8em;
        color: #fff;
}


/*star now button*/
.start-button {
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    border-style: none;    
    padding: 13px 16px;
    text-transform: none;
    padding: 17px 30px 17px 30px;
    margin-top: 40px;
}
.start-button:hover,
.start-button:focus,
.start-button:active{    
    color: #18BC9C;
    margin-top: 40px;
}
.middle-flag{
    width: 150px;
    height: 50px;
    background-image: url(../img/icons/uaicIcon.png);
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    left: 48%;
    bottom: 2em;
}
.middle-flag >a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 60px;
    
}
/*media queries*/
@media only screen and (max-width:320px) {
        .start-button{
            font-size: 1.2em;
            padding: 12px 20px 12px 20px;
        }

}
@media only screen and (max-width:540px){
        .pull-left{
            font-size: 0.7em;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.7em;
        }
        .pull-right >p{
            margin-right: 0px;
        }

}
@media only screen and (max-width:425px){
        .pull-left{
            font-size: 6px;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.4em;
        }
        .pull-right >p{
            margin-right: 0px;
            font-size: 7px;
        }
}
@media only screen and (max-width:700px){
        .middle-flag{
            display: inline-block;
            background-size: 40% 70%;
            background-position: 0px -1px;
            position: static;
            margin-left: 48%;
        }
        .middle-flag >a {
            font-size: 0.8em;
        }
}
