
.body-background {
    background-image: url("../img/backgrounds/login-flat.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
.login-pannel{
    opacity: 0.95;
    border-style: none;
    border-radius: 0;
}

/*
start-button {
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    border-style: none;    
    text-transform: none;
    padding: 17px 30px 17px 30px;
    margin-top: 40px;
}
.start-button:hover,
.start-button:focus,
.start-button:active{    
    color: #18BC9C;
    margin-top: 40px;
}

*/

.login-button {
    border-radius: 0;
    border-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 8px 15px;
    text-transform: none;
    margin-top: 1px
}
.login-button:hover,
.login-button:focus,
.login-button:active{
    color: #18BC9C;
    margin-top: 1px;
}

.singup-button {
    border-style: none;
    border-radius: 0;
    margin-left: 2.5em;
    border-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 8px 15px;
    text-transform: none;    
    margin-top: 1px;
}
.singup-button:hover,
.singup-button:focus,
.singup-button:active{
    color: #18BC9C;
    margin-top: 1px;
}


.form-control{
    border-style: none;
    border-radius: 0px;
    background-color: #EBEBEB;   
    color: #000;
}
