.icheckbox_square-blue checked{
    position: relative;
}

.iCheck-helper {
   position: absolute;
    top: -20%; left: -20%;
    display: block; width: 140%;
    height: 140%; margin: 0px;
    padding: 0px; border: 0px;
    opacity: 0;
    background: rgb(255, 255, 255);
}

div {
  display: block;
}



element.style {
}
.colorBg.colorBg1 {
  background-color: #1abc9c;
  background-image: -ms-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
  background-image: -moz-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
  background-image: -o-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #55e7ca), color-stop(1, #1abc9c));
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
  background-image: radial-gradient(circle farthest-side at center top, #55e7ca 0%, #1abc9c 100%);
}
.colorBg {
  padding: 50px 0;
  min-height: 100%;
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  -o-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

.eternity-form {
  font-family: 'Roboto', 'PT Sans', sans-serif;
  font-weight: 300;
  color: #95a5a6;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

::-webkit-scrollbar-track {
  background-color: rgba(113, 112, 107, 0.2);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

  -webkit-background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 3px -3px inset;
  background-color: rgb(26, 188, 156);
  background-image: radial-gradient(circle farthest-side at 50% 0%, rgb(85, 231, 202) 0%, rgb(26, 188, 156) 100%);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 3px -3px inset;
  box-sizing: border-box;
  color: rgb(149, 165, 166);
  display: block;
  font-family: Roboto, 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 681px;
  line-height: 20px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  position: relative;
  width: 722px;


body {
  padding-top: 45px;
  overflow: hidden!important;
}

body {
  background: #fafafa url("../imgs/content_inner_bg.png");
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
}

html, body {
  margin: 0;
  padding: 0;
}
user agent stylesheetbody {
  display: block;
  margin: 8px;
}


html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}