* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: #ece8e5;
	font-family: sans-serif;
}
.wrapper-main-page {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	background-color: #b0e0e6Wls;
}
.head-wrapper {
	height: 35em;
	width: 100%;
	background: url(../img/backgrounds/background_hear.jpg) 50% 50% no-repeat;
	background-size: cover; 
}
.bg-header {
	width: 100%;
	height: 100%; 
}
.icon-logo {
	height: 3em;
	width: 3em;
	background: url(../img/icons/rocket61.svg) 50% 50% no-repeat;
	background-size: 2em; 
	background-color: blue;
	position: relative;
	top:20px;
}
nav ul {
	background-color: #43a286;
	opacity: 0.3;
	overflow: hidden;
	color: white;
	text-align: right;
	margin: 0;
	padding: 0;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
	/*position: relative;*/
	/*top: -40.5em;*/ 
}
nav ul li {
	display: inline-block;
	padding: 20px;
}
	nav ul li a {
text-decoration: none;
color: #fff;
}
nav ul li:hover {
	background-color: #399077; 
}
section {
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 40px;
	width: 75%;
	margin: 0 auto; 
}
.handle {
	width: 100%;
	background-color: #005c48;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: white;
	display: none; 
}
.menu-icon {
	fill: #fff; 
}
/*loader icon */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.util-pie {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 30%;
	z-index: 9999;
}
footer {
	width: 100%;
	background-color: #34495e;
	height: 7em; 
}
footer h5 {
	padding-top: 3.5em;
	padding-left: 40px 0;
	color: white;
	text-align: center;
}
	
	@media screen and (max-width: 600px) {
		nav ul {
			max-height: 0;
		}
		.showing {
			max-height: 20em; 
		}
		nav ul li {
			box-sizing: border-box;
			width: 100%;
			padding: 15px;
			text-align: left; }
		.handle {
			display: block; 
		} 		
	
	}
