/*custom css style aside from BOOTSTRAP */

/*loader icon */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.util-pie {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 30%;
	z-index: 9999;
}
.navbar-text > a{
	color: inherit;
	text-decoration: none;
}
.navbar {
    border-width: 0;
}
body{
	/*padding-top: 70px;*/
	padding-top: 3.5em;

}
p{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
}

.navbar-default{
	background: #2C3E50;
	border-color: #FFF;
	/*color: #FFFFFF;*/
}
/*logo style*/
.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: #18BC9C;
	background: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

/*style focus button ,*/
.navbar-default .navbar-nav > .active >a,
.navbar-default .navbar-nav > .active >a:hover,
.navbar-default .navbar-nav > .active >a:focus {
	color : #fff;
	background: #1A242F;
}

.navbar-default .navbar-nav > li a:hover,
.navbar-default .navbar-nav > li a:focus{
	color: #18BC9C;
	background: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	background: #1A242F;
	color: #fff;
}


.btn-primary{
    background: #2C3E50;
	border-color: #2C3E50;
	color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle .btn-primary{
	color: #fff;
	background: #1E2A36;
	border-color: #161F29;
}

.navbar-default .navbar-nav
.open .dropdown-menu > li > a{
	color: #fff;
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
  border-style: none
} /* remove the tiny line from the dropdown menu*/

.btn-success{
	background: #18BC9C;
	border-color: #18BC9C;
	color: #fff;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle .btn-success{
	color: #FFF;
	background: #13987E;
	border-color: #13987E;
}


.btn-default{
	background: #95A5A6;
	border-color: #95A5A6;
	color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle .btn-default{
	color: #FFF;
	background: #7F9293;
	border-color: #74898A;
}


.dropdown-menu{
		background: #2C3E50;
		border-width: 0;
}
.dropdown-header{
	color : #ECF0F1;
	font-style: italic;

}
.dropdown-menu >li > a{
		color: #fff;
}

.fa-anchor{
	position: relative;
	bottom: 0.25em;
}
.logo-effect{
	font-family: 'Pacifico', cursive;
	position: relative;
	bottom: 0.50em;
	left: 0.70em;
	font-size: 1.2em;
}

/* header */
.jumbotron{
	height: 38em;
	background-image: url("../img/backgrounds/banner1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-style: none;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
        -ms-border-radius: 0 !important;
         -o-border-radius: 0 !important;
}
.jumbotron > h1,
.jumbotron > p{
	color: #fff;
	margin-top: 1.7em;
}

/*
	hover on dropdown menu
*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color : #18BC9C;
}


/*footer*/
.bottom-footer{
		display: block;
		margin-bottom: 0;
		border-style: none;

}
.section-row{
	padding-bottom: 15em;
	padding-top: 15em;

}
.section-one{
	background-image: url("../img/backgrounds/bluey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 1em;
    
}
.section-two{
	background-color: #f1c40f;
}
.section-three{
	background-color: #bdc3c7;
}
.footer-style {
	-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
					border-radius: 0 !important;
			-ms-border-radius: 0 !important;
			-o-border-radius:  0 !important;
}
.section-empty1{
	height: 35em;
	background-image: url(../img/meteor.gif);
	background-repeat: no-repeat;
	background-size: cover;
    z-index: -1;
}
.section-empty2{
    height: 25em;
    background-image:  url(../img/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.pull-left > a{
    display: block;
    margin: 1.3em;
    color: #fff;
}
.pull-left > a:hover,
.pull- left> a:focus {
    color: #18BC9C;
}

.footer-title {
    font-size: 1.4em;

}
.pull-left a > i {
    margin-right: 0.3em;
}


.copy{
    display: block;
    color: #fff;
    margin: 1.4em;
}
.pull-right >p {
    font-size: 10px;
    color: #fff;
    margin-left: 20px;
}
/*big white space correction*/
.header-style{
	height: 38em;
}


.container-header {
        position: relative;
        top: 8em;
        color: #fff;
}


/*star now button*/
.start-button {
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    border-style: none;    
    padding: 13px 16px;
    text-transform: none;
    padding: 17px 30px 17px 30px;
    margin-top: 40px;
}
.start-button:hover,
.start-button:focus,
.start-button:active{    
    color: #18BC9C;
    margin-top: 40px;
}
/*FII ICON*/
.middle-flag-anchor{
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}
.middle-flag-anchor:hover,
.middle-flag-anchor:focus,
.middle-flag-anchor:active{
    color: #18BC9C;
}
.middle-flag{
      display: inline-block;
      width: 35px;
      height: 35px;
      transform: translate(0, 0);
      background-image: url(../img/icons/uaicIcon.png);
      background-repeat: no-repeat;
      background-size: cover;

}
.row .container > .col-md-4 > p{
    margin: 35px;
}
.icheckbox_square-blue checked{
    position: relative;
}

.iCheck-helper {
   position: absolute;
    top: -20%; left: -20%;
    display: block; width: 140%;
    height: 140%; margin: 0px;
    padding: 0px; border: 0px;
    opacity: 0;
    background: rgb(255, 255, 255);
}

div {
  display: block;
}



element.style {
}
.colorBg.colorBg1 {
  background-color: #1abc9c;
  background-image: -ms-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
  background-image: -moz-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
  background-image: -o-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #55e7ca), color-stop(1, #1abc9c));
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c 100%);
  background-image: radial-gradient(circle farthest-side at center top, #55e7ca 0%, #1abc9c 100%);
}
.colorBg {
  padding: 50px 0;
  min-height: 100%;
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  -o-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

.eternity-form {
  font-family: 'Roboto', 'PT Sans', sans-serif;
  font-weight: 300;
  color: #95a5a6;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

::-webkit-scrollbar-track {
  background-color: rgba(113, 112, 107, 0.2);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

  -webkit-background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 3px -3px inset;
  background-color: rgb(26, 188, 156);
  background-image: radial-gradient(circle farthest-side at 50% 0%, rgb(85, 231, 202) 0%, rgb(26, 188, 156) 100%);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 3px -3px inset;
  box-sizing: border-box;
  color: rgb(149, 165, 166);
  display: block;
  font-family: Roboto, 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 681px;
  line-height: 20px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  position: relative;
  width: 722px;

body 
  padding-top: 45px;
  overflow: hidden!important;
}

body {
  background: #fafafa url("../imgs/content_inner_bg.png");
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
}

html, body {
  margin: 0;
  padding: 0;
}
user agent stylesheetbody {
  display: block;
  margin: 8px;
}


html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*media queries*/
@media only screen and (max-width:320px) {
        .start-button{
            font-size: 1.2em;
            padding: 12px 20px 12px 20px;
        }

}
@media only screen and (max-width:540px){
        .pull-left{
            font-size: 0.7em;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.7em;
        }
        .pull-right >p{
            margin-right: 0px;
        }
        
        .middle-flag{
            width: 20px;
            height: 20px;
        }
        .jumbotron{
            background-image: url("../img/backgrounds/banner2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

}
@media only screen and (max-width:425px){
        .pull-left{
            font-size: 6px;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.4em;
        }
        .pull-right >p{
            margin-right: 0px;
            font-size: 7px;
        }    
    
}
@media only screen and (max-width: 700px){
        .jumbotron{
            background-image: url("../img/backgrounds/banner3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
}