/*media queries*/
@media only screen and (max-width:320px) {
        .start-button{
            font-size: 1.2em;
            padding: 12px 20px 12px 20px;
        }

}
@media only screen and (max-width:540px){
        .pull-left{
            font-size: 0.7em;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.7em;
        }
        .pull-right >p{
            margin-right: 0px;
        }
        
        .middle-flag{
            width: 20px;
            height: 20px;
        }

}
@media only screen and (max-width:425px){
        .pull-left{
            font-size: 6px;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.4em;
        }
        .pull-right >p{
            margin-right: 0px;
            font-size: 7px;
        }    
    
}