.body-background {
    background: url("../img/backgrounds/login-flat.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -ms-background-size: cover;   
    -o-background-size: cover;
    background-size: cover;
}
.login-panel{
    opacity: 0.95;
    border-style: none;
    border-radius: 0;
}

.singin-button {
    border-radius: 0;
    border-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 8px 15px;
    text-transform: none;
    margin-top: 1px;
}
.singin-button:hover,
.singin-button:focus,
.singin-button:active{
    color: #18BC9C;
    margin-top: 1px;
}

.singup-button {
    border-style: none;
    border-radius: 0;
    margin-left: 2.5em;
    border-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 8px 15px;
    text-transform: none;    
    margin-top: 1px;
}
.singup-button:hover,
.singup-button:focus,
.singup-button:active{
    color: #18BC9C;
    margin-top: 1px;
}

.register-panel{
	opacity: 0.95;
	border-style: none;
	border-radius: 0;
	width: 65%;
	margin: 0 auto;
    padding-bottom: 20px;
}
.register-button{
    border-radius: 0;
    border-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 8px 41.5%;
    margin-top: 1px;
    text-transform: none;
    display: block;
    margin-left: 3%;

}
.register-button:hover,
.register-button:focus,
.register-button:active{
	color: #18BC9C;
	margin-top: 1px;
}

.form-control{
    border-style: none;
    border-radius: 0px;
    background-color: #EBEBEB;   
    color: #000;
}

.input-group-addon {
    border-style: none;
    border-radius: 0px;
    opacity: 0.95;
}


.errors{
    font-size: 0.8em;
    color: red;
    visibility: hidden;
    display: none;
}
.custom-alert{
    border-style: none;
    border-radius: 0px;

}