/*login pannel* style*/
.login-panel{
    border-style: none;
    border-radius: 0;
}

.xdebug-error
{
    color:#000 !important;
}
.signin-button {
    border-radius: 0;
    border-style:none;
    font-size: 1em;
    padding: 5px 10px;
    margin-top: 1px;
}
.signin-button:hover,
.signin-button:focus,
.signin-button:active{
    margin-top: 1px;
}
/*==================*/
/*register pannel style*/
.register-panel{
	border-style: none;
	border-radius: 0;
	width: 65%;
	margin: 0 auto;
    padding-bottom: 20px;
}
.register-button{
    border-radius: 0;
    border-style:none;
    font-size: 1em;
    padding: 8px 40%;
    margin-top: 1px;
    display: block;
    margin-left: 3%;
}
.register-button:hover,
.register-button:focus,
.register-button:active{
	margin-top: 1px;
}


/*skelet */
.panel{
    margin-top: 50px;
}
.page-header h2{
    color: #fff;
    font-weight: bolder;
}
.radio >label[for="female"]{
    margin-left: 25px;
}
.input-group-addon{
    background-color: #0c516c;
}
/*UTILS*/
.errors{
    font-size: 0.8em;
    color: red;
    visibility: hidden;
    display: none;
}
.custom-alert{
    border-style: none;
    border-radius: 0px;
}
.alert-danger
{
    background-image: none;
    background-color : #E30022;
}
.message-wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 15000;
    text-align: center;
}

