/*control pannel admin*/
.background-control-pannel
{
    background: #f3f3f4;
    color: #676a6c;
    height: 100%;
}
.box
{
    border: 1px solid red;
}
html
{
    height: 100%;
}
#side-menu
{
    background: #2f4050;
    padding: 0;
}

/*#side-menu h1{*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*font-size: 25px;*/
    /*margin-top: -10px;*/
    /*margin-right: -5px;*/
/*}*/
.logo-wrapper{
    width: 100%;
    height: 20%;
}
.title-logo{
    color: #fff;
    font-size: 25px;
    display: inline-block;
    margin-right: 70px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.display-table{
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}
.display-table-row{
    display: table-row;
    height: 100%;
}
.admin-brand{
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
}
.admin-brand:hover{
    color:#F9690E;
}

.display-table-cell{
    display: table-cell;
    float: none;
    height: 100%;
}
.valign-top{
    vertical-align: top;
}

#nav-header{
    background-color: #fff;
    border-bottom: 1px solid #e7eaec;

}
#nav-header #header-search-field {
    padding-top: 17px;
    vertical-align: middle;
    border: none;
    width: 300px;
    outline: none;
}
#nav-header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #676a6c;
}
#nav-header ul li{
    float: left;
    margin-left: 15px;
    padding: 17px 0;
}
#nav-header ul .glyphicon{
    color : #676a6c;
}
.label-success{
    background-color: #1ab394;
}
#nav-header ul a {
    text-decoration: none;
}
#nav-header .logout{
    color: #676a6c;
}
#nav-header .logout:hover{
    color: #676a6c;
}
#nav-header #welcome{
    margin-right: 20px;
}

#nav-header ul .label {
    position: absolute;
    margin-top: -10px;
    margin-left: -5px;
}
#nav-header .fixed-width{
    width: 35px;
}
.side-nav-menu{
    margin-top: 5px;
    padding-left: 0;
}
.side-nav-menu > li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
 }
.link
{
    margin-bottom: 10px;
}
.link > a:hover,
.link > a:focus,
{
    background-color: #245269;
}

#collapse-post > li ,
#collapse-settings > li,
#collapse-comments > li
{
    list-style: none;
}

.side-nav-menu > li > a {
    text-decoration: none;
    color: #fff;
}
#collapse-post > li > a,
#collapse-settings > li > a,
#collapse-comments > li> a
{
    text-decoration: none;
    color :#fff;
}
.side-nav-menu > li > a:hover,
.side-nav-menu > li > a:focus,
.side-nav-menu > li > a:active{
    color: #F9690E;
}
#collapse-post > li > a:hover,
#collapse-post > li > a:focus,
#collapse-post > li > a:active,
#collapse-settings > li > a:hover,
#collapse-settings > li > a:focus,
#collapse-settings > li > a:active,
#collapse-comments > li > a:hover,
#collapse-comments > li > a:focus,
#collapse-comments > li > a:active
{
    color: #F9690E;

}
#admin-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #676a6c;
}

.admin-wrapper
{
    margin-top:50px;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus
{
    top:0px;
    border-bottom: 0px;
}