/*error styleshet*/
.error-template {
    padding: 40px 0px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 192px;
}

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}
.takemehome{
    border: none;
}
.contactsupport{
    border: none;
}
.takemehome:hover,
.takemehome:active,
.takemehome:focus
{
    border: none;
    margin-top: 0;
}
.contactsupport:hover,
.contactsupport:active,
.contactsupport:focus{
    border: none;
    margin-top: 0;
}
