/*custom css style aside from BOOTSTRAP */

/*loader icon */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.util-pie {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 30%;
	z-index: 9999;
}
.navbar-text > a{
	color: inherit;
	text-decoration: none;
}
.navbar {
    border-width: 0;
}
body{
	padding-top: 3.5em;

}
p{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
}

.navbar-default{
	background: #2C3E50;
	border-color: #FFF;
	/*color: #FFFFFF;*/
}
/*logo style*/
.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: #18BC9C;
	background: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

/*style focus button ,*/
.navbar-default .navbar-nav > .active >a,
.navbar-default .navbar-nav > .active >a:hover,
.navbar-default .navbar-nav > .active >a:focus {
	color : #fff;
	background: #1A242F;
}

.navbar-default .navbar-nav > li a:hover,
.navbar-default .navbar-nav > li a:focus{
	color: #18BC9C;
	background: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	background: #1A242F;
	color: #fff;
}


.btn-primary{
    background: #2C3E50;
	border-color: #2C3E50;
	color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle .btn-primary{
	color: #fff;
	background: #1E2A36;
	border-color: #161F29;
}

.navbar-default .navbar-nav
.open .dropdown-menu > li > a{
	color: #fff;
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
  border-style: none
} /* remove the tiny line from the dropdown menu*/

.btn-success{
	background: #18BC9C;
	border-color: #18BC9C;
	color: #fff;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle .btn-success{
	color: #FFF;
	background: #13987E;
	border-color: #13987E;
}


.btn-default{
	background: #95A5A6;
	border-color: #95A5A6;
	color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle .btn-default{
	color: #FFF;
	background: #7F9293;
	border-color: #74898A;
}


.dropdown-menu{
		background: #2C3E50;
		border-width: 0;
}
.dropdown-header{
	color : #ECF0F1;
	font-style: italic;

}
.dropdown-menu >li > a{
		color: #fff;
}

.fa-anchor{
	position: relative;
	bottom: 0.25em;
}
.logo-effect{
	font-family: 'Pacifico', cursive;
	position: relative;
	bottom: 0.50em;
	left: 0.70em;
	font-size: 1.2em;
}

/* header */
.jumbotron{
	height: 38em;
	background-image: url("../img/backgrounds/front1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100$ 100$;
    -o-background-size: 100% 100%;
	border-style: none;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
        -ms-border-radius: 0 !important;
         -o-border-radius: 0 !important;
}
.jumbotron > h1,
.jumbotron > p{
	color: #fff;
	margin-top: 1.7em;
}

/*
	hover on dropdown menu
*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color : #18BC9C;
}


/*footer*/
.bottom-footer{
		display: block;
		margin-bottom: 0;
		border-style: none;

}
.section-row{
	padding-bottom: 15em;
	padding-top: 15em;

}
.section-one{
	background-color :#fff no-repeat;
    color: #999;
    font-size: 1em;
    
}
.star{
	display: block;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/icons/star.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}
.section-two{
	background-color: #f1c40f;
}
.search{
	display: block;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/icons/search.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms- background-size: cover;
	-o- background-size: cover;
}
.section-three{
	background-color: #bdc3c7;
}
.diamond{
	display: block;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/icons/diamond.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms- background-size: cover;
	-o- background-size: cover;
}
.footer-style {
	-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
					border-radius: 0 !important;
			-ms-border-radius: 0 !important;
			-o-border-radius:  0 !important;
}
.pull-left > a{
    display: block;
    margin: 1.3em;
    color: #fff;
}
.pull-left > a:hover,
.pull- left> a:focus {
    color: #18BC9C;
}

.footer-title {
    font-size: 1.4em;

}
.pull-left a > i {
    margin-right: 0.3em;
}


.copy{
    display: block;
    color: #fff;
    margin: 1.4em;
}
.pull-right >p {
    font-size: 10px;
    color: #fff;
    margin-left: 20px;
}
/*big white space correction*/
.header-style{
	height: 38em;
}

.container-header {
        position: relative;
        top: 8em;
        color: #fff;
}

/*star now button*/
.start-button {
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    border-style: none;    
    text-transform: none;
    padding: 17px 30px 17px 30px;
    margin-top: 40px;
}
.start-button:hover,
.start-button:focus,
.start-button:active{    
    color: #18BC9C;
    margin-top: 40px;
}
/*FII ICON*/
.middle-flag-anchor{
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}
.middle-flag-anchor:hover,
.middle-flag-anchor:focus,
.middle-flag-anchor:active{
    color: #18BC9C;
}
.middle-flag{
      display: inline-block;
      width: 35px;
      height: 35px;
      transform: translate(0, 0);
      background-image: url(../img/icons/uaicIcon.png);
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
}
.row .container > .col-md-4 > p{
    margin: 35px;
}
/*el1 el2 el3 anim*/
#el1,
#el2,
#el3{
	position: relative;
}
#el2{
	opacity: 0;
	filter: alpha(opacity=0);
}
.animate{
	transition: 2s ease-in-out;
	-webkit-transition : 2s ease-in-out;
	-moz-transition : 2s ease-in-out;
	-ms-transition : 2s ease-in-out;
	-o-transition : 2s ease-in-out;

}
#el1.animate{
	transform: translate(3em,0);
	-webkit-transform: translate(3em,0);
	-moz-transform: translate(3em,0);
	-ms-transform: translate(3em,0);
	-o-transform: translate(3em,0);
}

#el3.animate{
	transform: translate(-4em,0);
	-webkit-transform: translate(-4em,0);
	-moz-transform: translate(-4em,0);
	-ms-transform: translate(-4em,0);
	-o-transform: translate(-4em,0);
}
.big{
	letter-spacing: 1px;
	font-color: #666;
}

.body-background {
    background: url("../img/backgrounds/login-flat.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -ms-background-size: cover;   
    -o-background-size: cover;
    background-size: cover;
}
.login-panel{
    opacity: 0.95;
    border-style: none;
    border-radius: 0;
}

.singin-button {
    border-radius: 0;
    border-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 8px 15px;
    text-transform: none;
    margin-top: 1px;
}
.singin-button:hover,
.singin-button:focus,
.singin-button:active{
    color: #18BC9C;
    margin-top: 1px;
}

.singup-button {
    border-style: none;
    border-radius: 0;
    margin-left: 2.5em;
    border-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 8px 15px;
    text-transform: none;    
    margin-top: 1px;
}
.singup-button:hover,
.singup-button:focus,
.singup-button:active{
    color: #18BC9C;
    margin-top: 1px;
}

.register-panel{
	opacity: 0.95;
	border-style: none;
	border-radius: 0;
	width: 65%;
	display: table-cell;
	vertical-align: middle;
}
.register-button{
    border-radius: 0;
    border-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    width: 98%;
    text-transform: none;
    display: block;
    margin: 0 auto;
}
.register-button:hover,
.register-button:focus,
.register-button:active{
	color: #18BC9C;
	margin-top: 1px;
}

.vertical-center {
  text-align: center;  
}

.form-control{
    border-style: none;
    border-radius: 0px;
    background-color: #EBEBEB;   
    color: #000;
}

.input-group-addon {
    border-style: none;
    border-radius: 0px;
    opacity: 0.95;
}


.errors{
    font-size: 0.8em;
    color: red;
    visibility: hidden;
    display: none;
}

.register-background{
	background-image: url("../img/backgrounds/register-flat.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}
.register-panel{
	opacity: 0.95;
	border-style: none;
	border-radius: 0;
	width: 65%;
}
.register-button{
    border-radius: 0;
    border-style:none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    width: 98%;
    text-transform: none;
    display: block;
    margin: 0 auto;
}
.register-button:hover,
.register-button:focus,
.register-button:active{
	color: #18BC9C;
	margin-top: 1px;
}
/*media queries*/
@media only screen and (max-width:320px) {
        .start-button{
            font-size: 1.2em;
            padding: 12px 20px 12px 20px;
        }

}
@media only screen and (max-width:540px){
        .pull-left{
            font-size: 0.7em;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.7em;
        }
        .pull-right >p{
            margin-right: 0px;
        }
        
        .middle-flag{
            width: 20px;
            height: 20px;
        }
        .jumbotron{
            background-image: url("../img/backgrounds/banner2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

}
@media only screen and (max-width:425px){
        .pull-left{
            font-size: 6px;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.4em;
        }
        .pull-right >p{
            margin-right: 0px;
            font-size: 7px;
        }    
    
}
@media only screen and (max-width: 700px){
        .jumbotron{
            background-image: url("../img/backgrounds/banner3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
}