/*custom css style aside from BOOTSTRAP */
/*loader icon */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.util-pie {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 30%;
	z-index: 9999;
}
/*navigation*/
.navbar-text > a{
	color: inherit;
	text-decoration: none;
}
.navbar {
    border-width: 0;
}

/*logo style*/
.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: #F9690E;
	background: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
    font-weight: bold;
}


.navbar-default .navbar-nav > li a:hover,
.navbar-default .navbar-nav > li a:focus{
	color: #F9690E;
	background: transparent;
}

.btn-primary{

	color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle .btn-primary{
	color: #fff;

}

.navbar-default .navbar-nav
.open .dropdown-menu > li > a{
	color: #fff;
    font-weight: bold;
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
  border-style: none;
} /* remove the tiny line from the dropdown menu*/

.dropdown-header{
	color : #ECF0F1;
	font-style: italic;

}
.dropdown-menu >li > a{
		color: #fff;
}

/*anchor style*/
.fa-anchor{
	position: relative;
	bottom: 0.25em;
}
.logo-effect{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
	font-size: 1.2em;
    font-size: 30px;
}

.punchline
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding:2px 5px;
    max-width:80%;
    background:rgba(0,0,0,0.4);
    position: absolute;
    color:#f7f7f7;
    text-align: left;
    bottom:80px;
    text-transform: uppercase;
}
.punchline span
{
    font-size: 25px;
    font-weight: 700;
}
.header-style .bx-wrapper .bx-viewport
{
    border:0;
    left:0;
}

.affix-top
{
    background: transparent;
}

/*
	hover on dropdown menu
*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color : #F9690E;
}


/*footer*/
.bottom-footer{
		display: block;
		margin-bottom: 0;
		/*border-style: none;*/

}
.section-row{
    padding-bottom: 2em;
    padding-top: 4em;

}
.section-one{
	background-color :#fff;
    background-repeat: no-repeat;
    color: #999;
    font-size: 1em;
    
}
.left-icon{
	display: block;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/icons/pocket.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}
.section-two{
    background-color: #92a9a2;
}
.middle-icon{
	display: block;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/icons/roundsearch.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}
.section-three{
	background-color: #bdc3c7;
}
.right-icon{
	display: block;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/icons/graph.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}
.about{
    display:block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/icons/rocket.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}
.paragraph-decoration {
    margin-top: 40px;
    font-size: 1.5em;

}
.three-paragraph{
    color: #333;
    font-weight: bolder;
}
.idea{
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/icons/bestidea.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}
.footer-style {
	-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
             border-radius: 0 !important;
			-ms-border-radius: 0 !important;
			-o-border-radius:  0 !important;
}
.pull-left > a{
    display: block;
    margin: 1.3em;
    color: #fff;
}
.pull-left > a:hover,
.pull-left> a:focus {
    color: #F9690E;
}

.footer-title {
    font-size: 1.4em;

}
.pull-left a > i {
    margin-right: 0.3em;
}


.copy{
    display: block;
    color: #fff;
    margin: 1.4em;
}
.pull-right >p {
    font-size: 10px;
    color: #fff;
    margin-left: 20px;
}
/*big white space correction*/
.header-style{
	_height: 38em;
}

.container-header {
        position: relative;
        top: 8em;
        color: #fff;
}

/*star now button*/
.start-button {
    border-radius: 0;
    font-size: 1.5em;
    border-style: none;
    padding: 13px 25px 13px 25px;
    margin-top: 40px;
}
.start-button:hover,
.start-button:focus,
.start-button:active{
    margin-top: 40px;
}
/*FII ICON*/
.middle-flag-anchor{
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}
.orange-background{
    background-color: #F9690E;
}
.navy-background{
    background-color: #4e5d6c;
}
.middle-flag-anchor:hover,
.middle-flag-anchor:focus,
.middle-flag-anchor:active{
    color: #F9690E;
}
.middle-flag{
      display: inline-block;
      width: 35px;
      height: 35px;
      transform: translate(0, 0);
      background-image: url(../img/icons/uaicIcon.png);
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
}
.row .container > .col-md-4 > p{
    margin: 35px;
}
/*el1 el2 el3 anim*/
#el1,
#el2,
#el3{
	position: relative;
}
/*
This was connected to the issue with javascript
*/
#el2{
	/*opacity: 0;
	filter: alpha(opacity=0);
	*/
}
.animate{
	transition: 2s ease-in-out;
	-webkit-transition : 2s ease-in-out;
	-moz-transition : 2s ease-in-out;
	-ms-transition: 2s ease-in-out;
	-o-transition : 2s ease-in-out;

}
#el1.animate{
	transform: translate(3em,0);
	-webkit-transform: translate(3em,0);
	-moz-transform: translate(3em,0);
	-ms-transform: translate(3em,0);
	-o-transform: translate(3em,0);
}

#el3.animate{
	transform: translate(-4em,0);
	-webkit-transform: translate(-4em,0);
	-moz-transform: translate(-4em,0);
	-ms-transform: translate(-4em,0);
	-o-transform: translate(-4em,0);
}
.big{
	letter-spacing: 1px;
	color: #222;
}

/*contact */
.contactButton{
    border: none;
}
.contactButton:hover,
.contactButton:focus,
.contactButton:active{
    border: none;
    margin-top: 0;
}

.header-style .bx-wrapper .bx-controls-direction a
{
    background: none;
    text-indent: 3px;
    font-size:32px;
    color:#f3f3f4;

}
/*login pannel* style*/
.login-panel{
    border-style: none;
    border-radius: 0;
}

.signin-button {
    border-radius: 0;
    border-style:none;
    font-size: 1em;
    padding: 5px 10px;
    margin-top: 1px;
}
.signin-button:hover,
.signin-button:focus,
.signin-button:active{
    margin-top: 1px;
}
/*==================*/
/*register pannel style*/
.register-panel{
	border-style: none;
	border-radius: 0;
	width: 65%;
	margin: 0 auto;
    padding-bottom: 20px;
}
.register-button{
    border-radius: 0;
    border-style:none;
    font-size: 1em;
    padding: 8px 40%;
    margin-top: 1px;
    display: block;
    margin-left: 3%;
}
.register-button:hover,
.register-button:focus,
.register-button:active{
	margin-top: 1px;
}


/*skelet */
.panel{
    margin-top: 50px;
}
.page-header h2{
    color: #fff;
    font-weight: bolder;
}
.radio >label[for="female"]{
    margin-left: 25px;
}
.input-group-addon{
    background-color: #0c516c;
}
/*UTILS*/
.errors{
    font-size: 0.8em;
    color: red;
    visibility: hidden;
    display: none;
}
.custom-alert{
    border-style: none;
    border-radius: 0px;
}
.alert-danger
{
    background-image: none;
    background-color : #E30022;
}
.message-wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 15000;
    text-align: center;
}


/*error styleshet*/
.error-template
{
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}
.takemehome{
    border: none;
}
.contactsupport{
    border: none;
}
.takemehome:hover,
.takemehome:active,
.takemehome:focus
{
    border: none;
    margin-top: 0;
}
.contactsupport:hover,
.contactsupport:active,
.contactsupport:focus{
    border: none;
    margin-top: 0;
}

/*search page stylesheet*/
/*************************
*   Main scheleton html  *
*   page style.          *
**************************/
.product{
    display: block;
    width: 250px;
    height: 250px;
    margin-top: 25px;
}
.footer-product{
    display: block;
    width: 250px;
    height: 50px;
}
.img-box-wrapper{
    display:block;
    width: 250px;
    height: 200px;
}
/*************************
* Product label format   *
*************************/
.lable-product-format{
    position: absolute;
    width: 250px;
    opacity: 0.8;
    margin-top: 25px;
    height: 25px;
}
.lable-product-format >p{
    margin-top: 1px;
    font-size: 18px;
    color: #fff;
}

/************************
*
* Img hover and effcet
*
************************/
.img-box-wrapper > img:hover{

}


/*************************
*   Footer links         *
*   like and dislike     *
**************************/
.footer-product > a{
    color: #fff;
    margin-top: 10%;
    margin-right: 5%;
}
.footer-product > a:hover,
.footer-product > a:active,
.footer-product >a:focus {
    color:#df691a;
}



/*media queries*/
@media only screen and (max-width:320px) {
        .start-button{
            font-size: 1.2em;
            padding: 12px 20px 12px 20px;
        }

}
@media only screen and ( max-width: 338px) {
    .container-header >h1 {
        font-size: 30px;
    }
    .container-header > p{
        font-size: 15px;
    }

    .start-button{
        font-size:0.8em;
    }
    .three-paragraph{
        font-size: 14px;
    }
}
@media only screen and (max-width: 265px) {
    .container-header >h1{
        font-size: 25px;

    }
    .container-header >p {
        font-size: 12px;
    }

}
@media only screen and (max-width:540px){
        .pull-left{
            font-size: 0.7em;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.7em;
        }
        .pull-right >p{
            margin-right: 0px;
        }
        
        .middle-flag{
            width: 20px;
            height: 20px;
        }

}
@media only screen and (max-width:425px){
        .pull-left{
            font-size: 6px;    
            margin-top: 10px;
            margin-left: 0px;
        }
        .pull-right{
            font-size: 0.4em;
        }
        .pull-right >p{
            margin-right: 0px;
            font-size: 7px;
        }    
    
}
/*control pannel admin*/
.background-control-pannel
{
    background: #f3f3f4;
    color: #676a6c;
    height: 100%;
}
.box
{
    border: 1px solid red;
}
html
{
    height: 100%;
}
#side-menu
{
    background: #2f4050;
    padding: 0;
}

/*#side-menu h1{*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*font-size: 25px;*/
    /*margin-top: -10px;*/
    /*margin-right: -5px;*/
/*}*/
.logo-wrapper{
    width: 100%;
    height: 20%;
}
.title-logo{
    color: #fff;
    font-size: 25px;
    display: inline-block;
    margin-right: 70px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.display-table{
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}
.display-table-row{
    display: table-row;
    height: 100%;
}
.admin-brand{
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
}
.admin-brand:hover{
    color:#F9690E;
}

.display-table-cell{
    display: table-cell;
    float: none;
    height: 100%;
}
.valign-top{
    vertical-align: top;
}

#nav-header{
    background-color: #fff;
    border-bottom: 1px solid #e7eaec;

}
#nav-header #header-search-field {
    padding-top: 17px;
    vertical-align: middle;
    border: none;
    width: 300px;
    outline: none;
}
#nav-header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #676a6c;
}
#nav-header ul li{
    float: left;
    margin-left: 15px;
    padding: 17px 0;
}
#nav-header ul .glyphicon{
    color : #676a6c;
}
.label-success{
    background-color: #1ab394;
}
#nav-header ul a {
    text-decoration: none;
}
#nav-header .logout{
    color: #676a6c;
}
#nav-header .logout:hover{
    color: #676a6c;
}
#nav-header #welcome{
    margin-right: 20px;
}

#nav-header ul .label {
    position: absolute;
    margin-top: -10px;
    margin-left: -5px;
}
#nav-header .fixed-width{
    width: 35px;
}
.side-nav-menu{
    margin-top: 5g%;
    padding-left: 0;
}
.side-nav-menu > li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
 }
.link
{
    margin-bottom: 10px;
}
.link > a:hover,
.link > a:focus,
{
    background-color: #245269;
}

#collapse-post > li ,
#collapse-settings > li,
#collapse-comments > li
{
    list-style: none;
}

.side-nav-menu > li > a {
    text-decoration: none;
    color: #fff;
}
#collapse-post > li > a,
#collapse-settings > li > a,
#collapse-comments > li> a
{
    text-decoration: none;
    color :#fff;
}
.side-nav-menu > li > a:hover,
.side-nav-menu > li > a:focus,
.side-nav-menu > li > a:active{
    color: #F9690E;
}
#collapse-post > li > a:hover,
#collapse-post > li > a:focus,
#collapse-post > li > a:active,
#collapse-settings > li > a:hover,
#collapse-settings > li > a:focus,
#collapse-settings > li > a:active,
#collapse-comments > li > a:hover,
#collapse-comments > li > a:focus,
#collapse-comments > li > a:active
{
    color: #F9690E;

}
#admin-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #676a6c;
}

/*product style sheet */
.box-image-wrapper{
    width: 250px;
    height: 250px;
    margin-top: 100px;
}
.similar-box-wrapper{
    margin-top: 60px;
}
.like-menu-nav{
    width: 250px;
    height: 25px;
    margin-top: 20px;

}
.like-menu-nav > a{
    margin-left: 40px;
}
.main-wrapper-product-content{
    margin-top: 60px;
    background-color: #245269;
}
/********************
*   Missing link
***********************/
.missing-ingredient{
    color: #fff;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 1em;
}
.missing-ingredient:hover,
.missing-ingredient:active,
.missing-ingredient:active
{
    text-decoration: none;
    color: #df691a;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    -moz-transform:  width 2s;

}
/********************
*   Similar products
*********************/
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
    background: #333333;
}
.span3
{
    display: inline-block;
}
.item{
    margin-top: 45px;
}
.main-wrapper-thubnail-content{
    margin-top: 100px;
}


/**********************
*   Comment area style*
*                     *
***********************/

.page-header {
    position: relative;
}
.reviews {
    color: #fff;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object {
    max-width: 120px;
}
.media-body {
    position: relative;
}
.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li {
    padding: 0;
}
.media-date li:first-child:before {
    content: '';
}
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment {
    margin-bottom: 20px;
}
.media-replied {
    margin: 0 0 20px 50px;
}
.media-replied .media-heading {
    padding-left: 6px;
}

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
   // border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto {
    display: block;
}
.btn-circle:hover,
.btn-circle:active,
.btn-circle:focus
{
    border: 0;
    margin-top: 0;
}

/*Stats style sheet */

/**********************
*    MOST LOVED CARACT*
*                     *
**********************/
.mlc{
    margin-top: 200px;
}
/**********************
*    MOST HATED CARACT*
*                     *
**********************/
.mhc{
    margin-top: 100px;
}