/*product style sheet */
.box-image-wrapper{
    width: 250px;
    height: 250px;
    margin-top: 100px;
}
.similar-box-wrapper{
    margin-top: 60px;
}
.like-menu-nav{
    width: 250px;
    height: 25px;
    margin-top: 20px;

}
.like-menu-nav > a{
    margin-left: 40px;
}
.main-wrapper-product-content{
    margin-top: 60px;

}



/********************
*   Similar products
*********************/
.left-arrow{
    width: 120px;
    height: 250px;
}
.right-arrow{
    width: 120px;
    height: 250px;
}
.similar-products{
    height: 250px;
    width: 500px;
    background-color: blue;
}