/*product style sheet */
.box-image-wrapper{
    width: 250px;
    height: 250px;
    margin-top: 100px;
}
.similar-box-wrapper{
    margin-top: 60px;
}
.like-menu-nav{
    width: 250px;
    height: 25px;
    margin-top: 20px;

}
.like-menu-nav > a{
    margin-left: 40px;
}
.main-wrapper-product-content{
    margin-top: 60px;
    background-color: #245269;
}
/********************
*   Missing link
***********************/
.missing-ingredient{
    color: #fff;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 1em;
}
.missing-ingredient:hover,
.missing-ingredient:active,
.missing-ingredient:active
{
    text-decoration: none;
    color: #df691a;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    -moz-transform:  width 2s;

}
/********************
*   Similar products
*********************/
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
    background: #333333;
}
.span3
{
    display: inline-block;
}
.item{
    margin-top: 45px;
}
.main-wrapper-thubnail-content{
    margin-top: 100px;
}