/*search page stylesheet*/
/*************************
*   Main scheleton html  *
*   page style.          *
**************************/
.product{
    display: block;
    width: 250px;
    height: 250px;
    margin-top: 25px;
}
.footer-product{
    display: block;
    width: 250px;
    height: 50px;
}
.img-box-wrapper{
    display:block;
    width: 250px;
    height: 200px;
}
/*************************
* Product label format   *
*************************/
.lable-product-format{
    position: absolute;
    width: 250px;
    opacity: 0.8;
    margin-top: 25px;
    height: 25px;
}
.lable-product-format >p{
    margin-top: 1px;
    font-size: 18px;
    color: #fff;
}

/************************
*
* Img hover and effcet
*
************************/
.img-box-wrapper > img:hover{

}


/*************************
*   Footer links         *
*   like and dislike     *
**************************/
.footer-product > a{
    color: #fff;
    margin-top: 10%;
    margin-right: 5%;
}
.footer-product > a:hover,
.footer-product > a:active,
.footer-product >a:focus {
    color:#df691a;
}


